
####################################
#                                  #
#          YourDomain.com          #
#          (Private)               #
#                                  #
####################################

# Note: The configuration for a private instance is no different from the
# "public" example, but hints that you can run an additional instance of the
# proxy on a homelab device in a split-horizon DNS setup, and/or use it for
# additional zero-trust services in a self-hosted mesh VPN network (such as
# tailscale or netbird).

# Docker-compose settings
# ...
