
####################################
#                                  #
#          YourDomain.com          #
#          (Public)                #
#                                  #
####################################

# In this example, the proxy is running on a VPS with a public IP address, the
# VPS does NOT support IPv6, and docker-compose is instructed to load the
# appropriate features. You can run this as-is, or customize it to your own
# needs.

# Docker-compose settings
COMPOSE_FILE='docker-compose.yml:features/disable-ipv6.yml:features/docker-volumes.yml'
COMPOSE_PATH_SEPARATOR=':'
COMPOSE_REMOVE_ORPHANS=true

# Nginx Proxy Manager settings
IMAGE='jc21/nginx-proxy-manager'
TAG='2.14.0'

ADMIN_PORT=81
TZ='America/Los_Angeles'

DATA='data'
LETSENCRYPT='letsencrypt'

# ========================== ADDITIONAL FEATURES ==============================

# Feature: Initial admin settings
# INITIAL_ADMIN_EMAIL=GandalfTheGrey@gmail.com
# INITIAL_ADMIN_PASSWORD=keepitsecret

# Feature: Ownership settings
# PUID=1000
# PGID=1000

# Feature: Custom streams
# FTP_PORT=21
# MC_PORT=25565
# SMB_PORT=445
# SSH_PORT=22
